	{% extends "SuccessFacileBundle::layout.html.twig" %}
{% block body %}
<div class="form-group">
		<form method="POST" {{form_enctype(form)}}>
			{{form_errors(form)}}
			<div>
				{{form_label(form.somme, "Somme de votre héritage (en euros)")}}
	 			{{form_errors(form.somme)}}
				{{form_widget(form.somme)}}
			</div>
			<div>
				{{form_label(form.handicap, "Êtes vous handicapé(e)?")}}
	 			{{form_errors(form.handicap)}}
				{{form_widget(form.handicap)}}
			</div>
				{{form_label(form.lien, "Quel est votre lien avec le défunt?")}}
	 			{{form_errors(form.lien)}}
				{{form_widget(form.lien)}}
				{{form_rest(form)}}
			<input type="submit" id="formok" class= "btn btn-primary">
		</form>
</div>	
{% endblock %}
