	{% extends "SuccessFacileBundle::layout.html.twig" %}
{% block body %}
	<h3> Votre age et decendants</h3></br>
<div class="well">
		<form action="{{path('Form_R')}}" method="POST" {{form_enctype(form1)}}>
			<div>
				{{form_label(form1.age, "Votre age (ans)")}}
	 			{{form_errors(form1.age)}}
				{{form_widget(form1.age)}}
			</div>
			<h5>Descendants:</h5>
			<div>
				{{form_label(form1.enfant, "Nombre d'enfants du couple")}}
				{{form_errors(form1.enfant)}}
				{{form_widget(form1.enfant)}}
			</div>
			<div>
				{{form_label(form1.enfant_conjoint, "Nombre d'enfants du conjoint")}}
				{{form_errors(form1.enfant_conjoint)}}
				{{form_widget(form1.enfant_conjoint)}}
			</div>
			<div>
				{{form_label(form1.enfant_perso, "Nombre d'enfants a vous")}}
				{{form_errors(form1.enfant_perso)}}
				{{form_widget(form1.enfant_perso)}}
			</div>
				{{form_rest(form1)}}
			<input type="submit" id="formok" class= "btn btn">
		</form>
</div>	
{% endblock %}
