<nav class="navbar navbar-inverse">
<div class=container>
      <a class="navbar-brand" href="{{path('Acceuil')}}">SuccessionFacile</a>
<ul class="nav navbar-nav">
	<li><a href="{{ path('Simulateur')}}">H&eacute;ritiers</a></li>
	<li><a href="{{ path('Combien')}}">Taxe</a></li>
	<li><a href="{{ path('Quotite')}}">Quotit&eacute;</a></li>
<!--
	<li><a href="{{ path('About')}}">About</a></li>
	<li><a href="{{ path('Contact')}}">Contact</a></li> !-->
</ul>
</div>
</nav>
