<nav class="navbar navbar-inverse">
<div class=container>
      <a class="navbar-brand" href="{{path('Acceuil')}}">SuccessionFacile</a>
<ul class="nav navbar-nav">
	<li><a href="{{ path('Quotite')}}">Quotité disponible
	<li><a href="{{ path('Other')}}">Calcul droit de succession</a></li>
<!--
	<li><a href="{{ path('About')}}">About</a></li>
	<li><a href="{{ path('Contact')}}">Contact</a></li> !-->
</ul>
</div>
</nav>
