<div class="row">
<ul class="nav nav-tabs">
	<li class="col-lg-3"><a href="{{ path('Acceuil')}}">Acceuil</a></li>
	<li class="col-lg-3"><a href="{{ path('Simulateur')}}">Simulateur</a></li>
	<li class="col-lg-3"><a href="{{ path('Combien')}}">Combien vais-je payez?</a></li>
	<li class="col-lg-3"><a href="{{ path('Quotite')}}">Combien je peux leguer?</a></li>
	<li class="col-lg-3"><a href="{{ path('About')}}">About</a></li>
	<li class="col-lg-3"><a href="{{ path('Contact')}}">Contact</a></li>
</ul>
</div>

