	{% extends "SuccessFacileBundle::layout.html.twig"%}
{% trans_default_domain 'SuccessFacileBundle' %}
	{%block body %}
	<div class="container">
	<div class="row">
	<div class="col-lg-6">
	<div class="alert alert-info">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-user" style="font-size:300%;"></span>
		<h3>{{ 'result.situtitre' |trans |raw}}</h3>
		</div>
	{% if app.session.get('situ') == 0 %}
	<p><h5>{{ 'result.situ0' | trans |raw }}</h5></p>
	{% endif %}
	{% if app.session.get('situ') == 2 %}
	<p><h5>{{ 'result.situ2' | trans |raw }}</h5></p>
	{% endif %}
	{% if app.session.get('situ') == 3 %}
	<p><h5>{{ 'result.situ3' | trans |raw }}</h5></p>
	{% endif %}
	{% if app.session.get('situ') == 5 %}
	<p><h5>{{ 'result.situ5' | trans | raw }}</h5></p>
	{% endif %}
	{% if app.session.get('situ') == 6 %}
	<p><h5>{{ 'result.situ6' | trans | raw }}</h5></p>
	{% endif %}
	<p>Vous avez {{age}} ans</p>
	<p>{{ 'result.nochild' |trans | raw }}</p>
	<p>{{ 'result.noparent' |trans }}</p>
	<p>{{ 'result.nosibling' |trans}}</p>
	{% if gpp == TRUE %}
	<p>{{ 'result.gppaterneltrue' |trans}}</p>
	{% endif %}
	{% if gpp == FALSE %}
	<p>{{ 'result.gppaternelfalse' |trans}}</p>
	{% endif %}
	{% if gpm == TRUE %}
	<p>{{ 'result.gpmaterneltrue' |trans}}</p>
	{% endif %}
	{% if gpm == FALSE %}
	<p>{{ 'result.gpmaternelfalse' |trans}}</p>
	{% endif %}
	</div>
	</div>
	<div class="col-lg-6">
	<div class="alert alert-info">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-euro" style="font-size:300%;"></span>
		<h3> {{ 'result.patrimoinetitre' | trans }}</h3>
		</div>
	<p><strong>{{ 'result.valresidence1' |trans}}</strong> {{residencetotal| number_format(2, ',',' ')}} {{'result.valresidence2' |trans }} {{pourcent_residence}}% 
{%if opt_residence == 0 %}
{{'result.optresidence0' | trans }}
{% endif %}
{%if opt_residence == 1 %}
{{ 'result.optresidence1' | trans }}
{% endif %}
{%if opt_residence == 2 %}
{{'result.optresidence2' |trans }}
{% endif %}
{%if opt_residence == 3 %}
{{'result.optresidence3' |trans }}
{% endif %}
{%if opt_residence == 4 %}
{{'result.optresidence4' |trans }}
{% endif %}
{{'result.valresidence3' |trans }} {{residencefinal | number_format(2, ',', ' ')}} euros</p>
	<p><strong>{{'result.valepargne' |trans }}</strong> {{epargne| number_format(2,',', ' ')}} euros</p>
	<p><strong>{{'result.autre' |trans }}</strong> {{autre|number_format(2,',',' ')}} euros</p>
	<p><strong>{{'result.allpat' |trans}}</strong> {{patrimoine|number_format(2,',',' ')}} euros.</p>
	</div>
	</div>
	<div class="container">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-stats" style="font-size:300%;"></span>
		<h3>{{'result.rapporttitre' | trans}}</h3>
	</div>
	<table class="table table-hover">
	<thead>
	<tr class="warning">
		<th>{{'tab.revenant' | trans}}</th>
		<th>{{'tab.proportion' | trans}}</th>
		<th>{{'tab.value' |trans}}</th>
		<th>{{'tab.taxe' |trans}}</th>
	</tr>
	</thead>
	<tbody>
	{% if gpp == TRUE and gpm == TRUE %}
	<tr>
		<td>{{'tab.part2gp' | trans}}</td>
		<td> {{'tab.50pat' |trans}}</td>
		<td>{{part| number_format(2,',',' ')}} euros</td>
		<td>{{taxe | number_format(2,',',' ')}} euros</td>
	</tr>
	{% endif %}
	{% if gpp == FALSE and gpm == FALSE %}
	<tr>
		<td>{{'tab.partmaternel' | trans}}</td>
		<td> {{'tab.50pat' |trans}}</td>
		<td>{{part| number_format(2,',',' ')}} euros</td>
		<td>{{'tab.taxe++' |trans}}</td>
	</tr>
	<tr>
		<td>{{'tab.partpaternel' |trans}}</td>
		<td> {{'tab.50pat' |trans}}</td>
		<td>{{part| number_format(2,',',' ')}} euros</td>
		<td> {{'tab.taxe++' |trans}}</td>
	</tr>
	{% endif %}
	{% if (gpp == FALSE and gpm == TRUE) or (gpm == FALSE and gpp == TRUE) %}
	<tr>
		<td>{{'tab.part2gp' |trans}}</td>
		<td> {{'tab.50pat' |trans}}</td>
		<td>{{part| number_format(2,',',' ')}} euros</td>
		<td>{{taxe | number_format(2,',',' ')}} euros</td>
	</tr>
	<tr>
		<td>{{'tab.partother' |trans}}</td>
		<td> {{'tab.50pat' |trans}}</td>
		<td>{{part| number_format(2,',',' ')}} euros</td>
		<td> {{'tab.taxe++' |trans}}</td>
	</tr>
	{% endif %}
	</tbody>
	</table>
	</div>
	<div class="container">
	<div class="col-lg-5">
	<div class = "row">
<p>{{'result.apropos' | trans}} <a href="https://testamento.fr/fr">ici.</a></p>
</div>
</div>
</div>
<p>Informations non contractuelles, calculées sur les bases du montant du patrimoine net renseigné.</p>
{%endblock%}

