	{% extends "SuccessFacileBundle::layout.html.twig"%}
	{%block body %}
	<h2>Votre Situation:</h2>
	<p><h5>Vous etes marie avec enfant</h5></p>
	<p><strong>Age au deces</strong> {{age}} ans</p>
	<p><strong>Vous avez</strong> {{enfant}} enfant(s)</p>
	<p><strong>Valeur de votre residence:</strong> {{residencetotal| number_format(2, ',',' ')}} euros dont vous detenez {{pourcent_residence}}% en 
{%if opt_residence == 0 %}
en pleine propriete
{% endif %}
{%if opt_residence == 1 %}
en SCI
{% endif %}
{%if opt_residence == 2 %}
en indivision
{% endif %}
{%if opt_residence == 3 %}
en Nue_propriete
{% endif %}
{%if opt_residence == 4 %}
en Usufruit
{% endif %}
soit la valeur de {{residencefinal | number_format(2, ',', ' ')}} euros</p>
	<p><strong>Montant de votre epargne:</strong> {{epargne| number_format(2,',', ' ')}} euros</p>
	<p><strong>Autre:</strong> {{autre|number_format(2,',',' ')}} euros</p>
	<p><strong>Soit un patrimoine de</strong> {{patrimoine|number_format(2,',',' ')}} euros.</p>
	<h2>Votre Bilan:</h2>
	<p><strong>Valeur de l'usufruit fiscal(Art. 669 CGI)</strong> {{val_usufruit}}%</p>
	<p><strong>Valeur de la Nue-Propriete</strong> {{nue_propriete}}%</p>
	<h2>Vos Solutions:</h2>
	<table class="table table-hover">
	<thead>
	<tr>
		<th>Votre repartition</th>
		<th>Option 1</th>
		<th>Taxe option 1</th>
		<th>Option 2</th>
		<th>Taxe option 2</th>
		<th>Option 3</th>
		<th>Taxe option 3</th>
		<th>Option 4</th>
		<th>Taxe option 4</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Conjoint survivant</td>
		<td>{{conjoint_opt1|number_format(2, ',', ' ')}} euros</td>
		<td>Pas de taxe au conjoint</td>
		<td>{{conjoint_opt2| number_format(2, ',', ' ')}} euros</td>
		<td>Pas de taxe au conjoint</td>
		<td>{{conjoint_opt3| number_format(2, ',',' ')}} euros</td>
		<td>Pas de taxe au conjoint</td>
		<td>{{conjoint_opt4| number_format(2,',',' ')}} euros</td>
		<td>Pas de taxe au conjoint</td>
	</tr>
	<tr>
		<td>Part par enfant</td>
		<td>{{enfant_opt1| number_format(2, ',', ' ')}} euros</td>
		<td>{{taxe_opt1| number_format(2, ',', ' ')}} euros</td>
		<td>{{enfant_opt2| number_format(2,',', ' ')}} euros</td>
		<td>{{taxe_opt2| number_format(2, ',', ' ')}} euros</td>
		<td>{{enfant_opt3| number_format(2,',', ' ')}} euros</td>
		<td>{{taxe_opt3| number_format(2, ',', ' ')}} euros</td>
		<td>{{enfant_opt4| number_format(2,',',' ')}} euros</td>
		<td>{{taxe_opt4| number_format(2, ',', ' ')}} euros</td>
	</tr>
	</tbody>
	</table>
{%endblock%}
