	{% extends "SuccessFacileBundle::layout.html.twig"%}
	{%block body %}
	<div class="container">
	<div class="row">
	<div class="col-lg-6">
	<div class="alert alert-info">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-user" style="font-size:300%;"></span>
		<h3>Votre situation</h3>
		</div>
	<p>Vous êtes marié(e)</p>
	<p><strong>Vous avez</strong> {{age}} ans</p>
	<p><strong>Vous avez</strong> {{enfant}} enfant(s)</p>
	</div>
	</div>
	<div class="col-lg-6">
	<div class="alert alert-info">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-euro" style="font-size:300%;"></span>
		<h3>Votre patrimoine</h3>
		</div>
	<p><strong>Valeur de votre residence:</strong> {{residencetotal| number_format(2, ',',' ')}} euros dont vous détenez {{pourcent_residence}}% en 
{%if opt_residence == 0 %}
en pleine propriété
{% endif %}
{%if opt_residence == 1 %}
en SCI
{% endif %}
{%if opt_residence == 2 %}
en indivision
{% endif %}
{%if opt_residence == 3 %}
en Nue_propriété
{% endif %}
{%if opt_residence == 4 %}
en Usufruit
{% endif %}
soit la valeur de {{residencefinal | number_format(2, ',', ' ')}} euros</p>
	<p><strong>Montant de votre épargne:</strong> {{epargne| number_format(2,',', ' ')}} euros</p>
	<p><strong>Autre:</strong> {{autre|number_format(2,',',' ')}} euros</p>
	<p><strong>Soit un patrimoine de</strong> {{patrimoine|number_format(2,',',' ')}} euros.</p>
	</div>
	</div>
	<div class="container">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-stats" style="font-size:300%;"></span>
		<h3>Votre Bilan</h3>
		</div>
	<p><strong>Valeur de l'usufruit fiscal(Art. 669 CGI)</strong> {{val_usufruit}}%</p>
	<p><strong>Valeur de la Nue-Propriété</strong> {{nue_propriete}}%</p>
		<div style="text-align:center;text-inline">
	<h3>Vos Solutions</h3>
		</div>
	<table class="table table-hover">
	<thead>
	<tr class="warning">
		<th>Votre répartition</th>
		<th>Option 1</th>
		<th>Taxe option 1</th>
		<th>Option 2</th>
		<th>Taxe option 2</th>
		<th>Option 3</th>
		<th>Taxe option 3</th>
		<th>Option 4</th>
		<th>Taxe option 4</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Conjoint survivant</td>
		<td>{{conjoint_opt1|number_format(2, ',', ' ')}} euros</td>
		<td>Pas de taxe au conjoint</td>
		<td>{{conjoint_opt2| number_format(2, ',', ' ')}} euros</td>
		<td>Pas de taxe au conjoint</td>
		<td>{{conjoint_opt3| number_format(2, ',',' ')}} euros</td>
		<td>Pas de taxe au conjoint</td>
		<td>{{conjoint_opt4| number_format(2,',',' ')}} euros</td>
		<td>Pas de taxe au conjoint</td>
	</tr>
	<tr>
		<td>Part par enfant</td>
		<td>{{enfant_opt1| number_format(2, ',', ' ')}} euros</td>
		<td>{{taxe_opt1| number_format(2, ',', ' ')}} euros</td>
		<td>{{enfant_opt2| number_format(2,',', ' ')}} euros</td>
		<td>{{taxe_opt2| number_format(2, ',', ' ')}} euros</td>
		<td>{{enfant_opt3| number_format(2,',', ' ')}} euros</td>
		<td>{{taxe_opt3| number_format(2, ',', ' ')}} euros</td>
		<td>{{enfant_opt4| number_format(2,',',' ')}} euros</td>
		<td>{{taxe_opt4| number_format(2, ',', ' ')}} euros</td>
	</tr>
	</tbody>
	</table>
{%endblock%}
