	{% extends "SuccessFacileBundle::layout.html.twig"%}
	{%block body %}
	<div class="container">
	<div class="row">
	<div class="col-lg-6">
	<div class="alert alert-info">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-user" style="font-size:300%;"></span>
		<h3>Votre situation</h3>
		</div>
	<p>Vous êtes mariée</p>
	<p>Vous avez {{age}} ans</p>
	<p>Vous n'avez pas d'enfant</p>
	<p>En l'absence de conjoint et d'enfants, les héritiers réservataires sont les ascendants et/ou les frères et soeurs.</p>
	{% if mere == TRUE %}
	<p>Votre mère est vivante.</p>
	{% endif %}
	{% if mere == FALSE %}
	<p>Votre mère est décédée.</p>
	{% endif %}
	{% if pere == TRUE %}
	<p>Votre père est vivant.</p>
	{% endif %}
	{% if pere == FALSE %}
	<p>Votre père est décédé.</p>
	{% endif %}
	<p>Vous avez {{siblings}} frères et soeurs</p>
	</div>
	</div>
	<div class="col-lg-6">
	<div class="alert alert-info">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-euro" style="font-size:300%;"></span>
		<h3>Votre patrimoine</h3>
		</div>
	<p><strong>Valeur de votre résidence:</strong> {{residencetotal| number_format(2, ',',' ')}} euros dont vous détenez {{pourcent_residence}}% en 
{%if opt_residence == 0 %}
en pleine propriété
{% endif %}
{%if opt_residence == 1 %}
en SCI
{% endif %}
{%if opt_residence == 2 %}
en indivision
{% endif %}
{%if opt_residence == 3 %}
en Nue_propriété
{% endif %}
{%if opt_residence == 4 %}
en Usufruit
{% endif %}
soit la valeur de {{residencefinal | number_format(2, ',', ' ')}} euros</p>
	
	<p><strong>Montant de votre épargne:</strong> {{epargne| number_format(2,',', ' ')}} euros</p>
	<p><strong>Autre:</strong> {{autre|number_format(2,',',' ')}} euros</p>
	<p><strong>Soit un patrimoine de</strong> {{patrimoine|number_format(2,',',' ')}} euros.</p>
	</div>
	</div>
	<div class="container">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-stats" style="font-size:300%;"></span>
		<h3>Votre Rapport</h3>
		</div>
	<table class="table table-hover">
	<thead>
	<h4>Si vous avez fait une donation entre époux</h4>
	<tr class="warning">
		<th>Revenant</th>
		<th>Proportion</th>
		<th>Valeur</th>
		<th>Taxe droit de succession</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Le conjoint survivant</td>
		<td>100% du patrimoine du defunt</td>
		<td>{{part| number_format(2,',',' ')}} euros</td>
		<td>0 euros</td>
	</tr>
	</tbody>
	</table>
	<h4>Si vous n'en avez pas faite</h4>
	<table class="table table-hover">
	<thead>
	<tr class="warning">
		<th>Revenant</th>
		<th>Proportion</th>
		<th>Valeur</th>
		<th>Taxe droit de succession</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Le conjoint survivant</td>
		{%if mere == TRUE and pere == TRUE %}	
		<td>50% du patrimoine du defunt</td>
		{% elseif mere == TRUE or pere == TRUE %}	
		<td>75% du patrimoine du defunt</td>
		{% elseif mere == FALSE and pere == FALSE %}	
		<td>100% du patrimoine du defunt</td>
		{%endif%}
		<td>{{partM| number_format(2,',',' ')}} euros</td>
		<td>0 euros</td>
	</tr>
		{%if mere == TRUE or pere == TRUE %}	

	<tr>
		<td>Part par parent survivant</td>
		<td>25% du patrimoine du defunt</td>
		<td>{{partP| number_format(2,',',' ')}} euros</td>
		<td>{{taxeP| number_format(2,',',' ')}} euros</td>
	</tr>
		{%endif%}
	</tbody>
	</table>
{%endblock%}

