	{% extends "SuccessFacileBundle::layout.html.twig"%}
{% trans_default_domain 'SuccessFacileBundle' %}
	{%block body %}
	<div class="container">
	<div class="row">
	<div class="col-lg-6">
	<div class="alert alert-info">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-user" style="font-size:300%;"></span>
		<h3>{{ 'result.situtitre' |trans |raw}}</h3>
		</div>
	<p><h5>{{ 'result.situ6' | trans | raw }}</h5></p>
	<p><strong>Vous avez</strong> {{age}} ans</p>
	<p><strong>Vous avez</strong> {{enfant_all}} enfant(s) dont {{enfant}} commun, {{enfant_conjoint}} de votre conjoint et {{enfant_perso}} d'une précédente relation.</p>
	<p>Les {{enfant_conjoint}} {{'result.childconjoint' | trans}}</p>
	</div>
	</div>
	<div class="col-lg-6">
	<div class="alert alert-info">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-euro" style="font-size:300%;"></span>
		<h3> {{ 'result.patrimoinetitre' | trans }}</h3>
		</div>
	<p><strong>{{ 'result.valresidence1' |trans}}</strong> {{residencetotal| number_format(2, ',',' ')}} {{'result.valresidence2' |trans }} {{pourcent_residence}}% 
{%if opt_residence == 0 %}
{{'result.optresidence0' | trans }}
{% endif %}
{%if opt_residence == 1 %}
{{ 'result.optresidence1' | trans }}
{% endif %}
{%if opt_residence == 2 %}
{{'result.optresidence2' |trans }}
{% endif %}
{%if opt_residence == 3 %}
{{'result.optresidence3' |trans }}
{% endif %}
{%if opt_residence == 4 %}
{{'result.optresidence4' |trans }}
{% endif %}
{{'result.valresidence3' |trans }} {{residencefinal | number_format(2, ',', ' ')}} euros</p>
	<p><strong>{{'result.valepargne' |trans }}</strong> {{epargne| number_format(2,',', ' ')}} euros</p>
	<p><strong>{{'result.autre' |trans }}</strong> {{autre|number_format(2,',',' ')}} euros</p>
	<p><strong>{{'result.allpat' |trans}}</strong> {{patrimoine|number_format(2,',',' ')}} euros.</p>
	</div>
	</div>
	<div class="container">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-stats" style="font-size:300%;"></span>
		<h3>{{'result.rapporttitre' | trans}}</h3>
		</div>
	<table class="table table-hover">
	<thead>
	<tr class="warning">
		<th>{{'tab.revenant' | trans}}</th>
		<th>{{'tab.proportion' | trans}}</th>
		<th>{{'tab.value' |trans}}</th>
		<th>{{'tab.taxe' |trans}}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>{{ 'tab.partchild' | trans}}</td>
		<td>1/{{enfant_part}} du patrimoine total</td>
		<td>{{part| number_format(2,',',' ')}} euros</td>
		<td>{{taxe| number_format(2,',',' ')}} euros</td>
	</tr>
	</tbody>
	</table>
	</div>
	<div class="container">
	<div class="col-lg-5">
	<div class = "row">
<p>{{'result.apropos' | trans}} <a href="https://testamento.fr/fr">ici.</a></p>
</div>
</div>
</div>
<p>{{result.apropos | trans}}</p>
{%endblock%}
