	{% extends "SuccessFacileBundle::layout.html.twig"%}
	{%block body %}
	<h2>Votre Situation:</h2>
	<p><h5>Vous etes veuf(ve) et sans enfant</h5></p>
	<p><strong>Age au deces</strong> {{age}} ans</p>
	<p><strong>Vous avez</strong> {{enfant}} enfant(s)</p>
	<p><strong>Valeur de votre residence:</strong> {{residence| number_format(2, ',',' ')}} euros</p>
	<p><strong>Montant de votre epargne:</strong> {{epargne| number_format(2,',', ' ')}} euros</p>
	<p><strong>Autre:</strong> {{autre|number_format(2,',',' ')}} euros</p>
	<p><strong>Soit un patrimoine de</strong> {{patrimoine|number_format(2,',',' ')}} euros.</p>
	<h2>Votre Bilan:</h2>
	<p>En l'absence de conjoint et d'enfants, les heritiers reservataires sont les ascendants et/ou les freres et soeurs.</p>
	{% if mere == TRUE %}
	<p>Votre mere est vivante.</p>
	{% endif %}
	{% if mere == FALSE %}
	<p>Votre mere est decede.</p>
	{% endif %}
	{% if pere == TRUE %}
	<p>Votre pere est vivante.</p>
	{% endif %}
	{% if pere == FALSE %}
	<p>Votre pere est decede.</p>
	{% endif %}
	<p>Vous avez {{siblings}} freres et soeurs</p>
	<h2>Vos solutions</h2>
	<table class="table table-hover">
	<thead>
	<tr>
		<th>Revenant</th>
		<th>Proportion</th>
		<th>Valeur</th>
		<th>Cout Droit de succession</th>
	</tr>
	</thead>
	<tbody>
	{% if mere == TRUE or pere == TRUE%}
	<tr>
		<td>Part par parent vivant</td>
		 {% if siblings == 0 and mere == TRUE and pere == TRUE %}
		<td> 100% du patrimoine total</td>
		 {% elseif siblings == 0 %}
		<td> 50% du patrimoine total</td>
		{% endif %}
		 {% if siblings != 0 %}
		<td> 25% du patrimoine total</td>
		{% endif %}
		<td>{{partP| number_format(2,',',' ')}} euros</td>
		<td>{{taxeP| number_format(2,',',' ')}} euros</td>
	</tr>
	{% endif %}
		 {% if siblings != 0 %}
	<tr>
		<td>Part par frere et soeurs</td>
		<td> {{pourcentE}}% du patrimoine total</td>
		<td>{{partE| number_format(2,',',' ')}} euros</td>
		<td>{{taxeE| number_format(2,',',' ')}} euros</td>
	</tr>
		{% endif %}
	</tbody>
	</table>
{%endblock%}

