	{% extends "SuccessFacileBundle::layout.html.twig"%}
	{%block body %}
	<h2>Votre Situation:</h2>
	<p><strong>Age au deces</strong> {{age}} ans</p>
	<p>Vous avez {{enfant}} enfant(s)</p>
	<p>Valeur de votre residence: {{residence| number_format(2, ',',' ')}} euros</p>
	<p>Montant de votre epargne: {{epargne| number_format(2,',', ' ')}} euros</p>
	<p>Autre: {{autre|number_format(2,',',' ')}} euros</p>
	<p>Soit un patrimoine de {{patrimoine|number_format(2,',',' ')}} euros.</p>
	<p>Valeur de l'usufruit fiscal(Art. 669 CGI) {{val_usufruit}}%</p>
	<p>Valeur de la Nue-Propriete {{nue_propriete}}%</p>
	<p>revenant {{revenant|number_format(2,',',' ')}} euros</p>
	<h2>Vos Solutions:</h2>
	<table class="table table-hover">
	<thead>
	<tr>
		<th>Votre repartition</th>
		<th>Option 1</th>
		<th>Option 2</th>
		<th>Option 3</th>
		<th>Option 4</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Conjoint survivant</td>
		<td>{{conjoint_opt1|number_format(2, ',', ' ')}} euros</td>
		<td>{{conjoint_opt2| number_format(2, ',', ' ')}} euros</td>
		<td>{{conjoint_opt3| number_format(2, ',',' ')}} euros</td>
		<td>{{conjoint_opt4| number_format(2,',',' ')}} euros</td>
	</tr>
	<tr>
		<td>Part par enfant</td>
		<td>{{enfant_opt1| number_format(2, ',', ' ')}} euros</td>
		<td>{{enfant_opt2| number_format(2,',', ' ')}} euros</td>
		<td>{{enfant_opt3| number_format(2,',', ' ')}} euros</td>
		<td>{{enfant_opt4| number_format(2,',',' ')}} euros</td>
	</tr>
	</tbody>
	</table>
{%endblock%}
