	{% extends "SuccessFacileBundle::layout.html.twig" %}
{% block body %}
	<h2>Calcul usufruit - Nue propriete </h2></br>
	<h3>Option conjoint survivant et Famille non recomposee</h3></br>
<div class="well">
		<form method="POST" {{form_enctype(form)}}>
			{{form_errors(form)}}
			<div>
				{{form_label(form.age, "Age au deces (ans)")}}
	 			{{form_errors(form.age)}}
				{{form_widget(form.age)}}
			</div>
			<h5>Descendants:</h5>
			<div>
				{{form_label(form.enfant, "Nombre d'enfants")}}
				{{form_errors(form.enfant)}}
				{{form_widget(form.enfant)}}
			</div>
			<h5>Patrimoine:</h5>
			<div>
				{{form_label(form.residence, "Residence principale (en euros)")}}
				{{form_errors(form.residence)}}
				{{form_widget(form.residence)}}
			</div>
			<div>
				{{form_label(form.epargne, "Epargne (en euros)")}}
				{{form_errors(form.epargne)}}
				{{form_widget(form.epargne)}}
			</div>
			<div>
				{{form_label(form.autre, "Mobilier, vehicules et autres (en euros)")}}
				{{form_errors(form.autre)}}
				{{form_widget(form.autre)}}
			</div>
				{{form_rest(form)}}
			<input type="submit" id="formok" class= "btn btn">
		</form>
</div>	
{% endblock %}
