	{% extends "SuccessFacileBundle::layout.html.twig"%}
	{%block body %}
	<div class="container">
	<div class="row">
	<div class="col-lg-15">
	<div class="alert alert-info">
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-user" style="font-size:300%;"></span>
		<h3>Votre situation</h3>
		</div>
	{% if marie == TRUE %}
		<p>Vous êtes marié(e).</p>
	{% endif %}
	{% if marie == FALSE %}
		<p>Vous n'êtes pas marié(e).</p>
	{% endif %}
	<p>Vous avez un patrimoine personnel de {{patrimoine| number_format(2,',', ' ')}} euros</p>
	<p>Vous avez {{child}} enfant(s).
	</div>
		<div style="text-align:center;text-inline">
		<span class="glyphicon glyphicon-user" style="font-size:300%;"></span>
	<h2>Votre Bilan</h2>
	</div>
	<table class="table table-hover">
	<thead>
	<tr class="success">
		<th>Quotité disponible (en %)</th>
		<th>Quotité disponible (en euros)</th>
		<th>Héritage restant sans la quotité disponible</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>{{ pourcentQD}} %</td>
		<td>{{QD| number_format(2,',',' ')}} euros</td>
		<td>{{reste| number_format(2,',',' ')}} euros</td>
	</tr>
	</tbody>
	</table>
	<div class="container">
	<div class="col-lg-5">
	<div class = "row">
<p>A propos :

La quotité disponible est la part de votre patrimoine dont vous pouvez librement disposer. Vous pouvez choisir vos héritiers, en fonction de votre situation familiale, grâce à un testament.
Ce calculateur gratuit vous est fourni par Testamento, inventeur du testament en ligne et primé à de multiples reprises. Testamento propose depuis 2013 une solution simple, rapide et accessible, développée avec des notaires et avocats, pour préparer un testament 100% légal et conservé par un notaire.
Pour en savoir plus sur Testamento, cliquez <a href="https://testamento.fr/fr">ici.</a></p>
</div>
</div>
</div>
<p>Informations non contractuelles, calculées sur les bases du montant du patrimoine net renseigné.</p>
{%endblock%}

